/* Base Styles */


h1 {
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 2.0em;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  background-color: #7CFC00;
  color: #000000;
}


/** Header **/


section {
  border: 1px solid black;
  background-color: #7CFC00;
  width: 100%;
  height: auto;
  color: black;
  position: relative;
  overflow: auto;
}

#Chicken {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #7CFC00;
}

#Beef {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #7CFC00;
}

#Fish {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #7CFC00;
  color: white;
  padding: 5px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #FFD700;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #7CFC00;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.nav-header {
  background-color: #FFD700;
}
.nav-brand {
  font-size: 1.5em;
}

#nav-list {
  color: black;
  visibility: visible;
}
#nav-list a span {
  font-size: 1.2em;
  clear: both;
}

.item {
  color: black;
  font-size: 1.2em;
}

/** END HEADER **/
.container {
  background-color: #7CFC00
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-heading {
  text-align: center;
  color: #000000;
  background-color: #7CFC00;
}
.panel-body {
  color: #000000;
  background-color: #7CFC00;
}


  /* Medium Devices Only */
@media (min-width: 768px) and (max-width: 991px) {

    /* Header */
 
  
  /* End Header */

}

  /* Small Devices Only */
@media (max-width: 767px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}